@model BugTracker.Models.TicketComment

@{
	ViewBag.Title = "Delete Comment";
}

<div class="content">
	<br />
	<div class="row">
		<div class="col">
			<div class="card card-default">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-title">Delete Comment</h3>
					</div>
				</div>
				<div class="card-body">
					<dl class="dl-horizontal">
						<dt>
							@Html.DisplayName("Submitter")
						</dt>

						<dd>
							@Html.DisplayFor(model => model.Ticket.Submitter.FullName)
						</dd>

						<dt>
							@Html.DisplayNameFor(model => model.Comment)
						</dt>

						<dd>
							@Html.DisplayFor(model => model.Comment)
						</dd>

						<dt>
							@Html.DisplayNameFor(model => model.Created)
						</dt>

						<dd>
							@Html.DisplayFor(model => model.Created)
						</dd>

					</dl>

					@using (Html.BeginForm())
					{
						@Html.AntiForgeryToken()

						<div class="form-actions no-color">
							<input type="submit" value="Delete This Comment" class="btn btn-danger" />
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>
