@model IEnumerable<BugTracker.Models.TicketComment>

@{
	ViewBag.Title = "Comments";
}

<div class="content">
	<br />
	<div class="row">
		<div class="col">
			<div class="card card-default">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-title">Editable Comments</h3>
					</div>
				</div>
				<div class="card-body">
					<table class="table">
						<thead>
							<tr>

								<th>
									First Name
								</th>
								<th>
									Comment
								</th>
								<th>
									Posted On
								</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model)
							{
								<tr>
									<td>
										@Html.DisplayFor(modelItem => item.User.FirstName)
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.Comment)
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.Created)
									</td>
									<td>
										@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
										@Html.ActionLink("Delete", "Delete", new { id = item.Id })
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
