<!DOCTYPE html>
<html lang="en">
<head>
	@using Microsoft.AspNet.Identity;
	@using BugTracker.Utilities
	@{
		var projectErrorMessage = "";
		if (TempData["ProjectErrors"] != null)
		{
			projectErrorMessage = TempData["ProjectErrors"].ToString();

		}

		var ticketErrorMessage = "";
		if (TempData["TicketErrors"] != null)
		{
			ticketErrorMessage = TempData["TicketErrors"].ToString();
		}
	}
	<link rel="shortcut icon" href="~/favicon.ico">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bug Tracker | @ViewBag.Title</title>

	<!-- Google Font: Source Sans Pro -->
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
	<!-- Font Awesome Icons -->
	<link href="~/Content/all.min.css" rel="stylesheet" />
	<!-- Theme style -->
	<link href="~/Content/adminlte.min.css" rel="stylesheet" />

	<link href="~/Content/Style.css" rel="stylesheet" />

	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.css" />
</head>
<body class="hold-transition sidebar-mini">
	<div class="wrapper">

		<!-- Navbar -->
		<nav class="main-header navbar navbar-expand navbar-white navbar-light">
			<!-- Left navbar links -->
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
				</li>
				<li class="nav-item d-none d-sm-inline-block">
					<a href="@Url.Action("Dashboard", "Home") " class="nav-link">Home</a>
				</li>
				<li class="nav-item d-none d-sm-inline-block">
					<a href="@Url.Action("About", "Home")" class="nav-link">About</a>
				</li>
			</ul>
			<!-- SEARCH FORM -->
			<form class="form-inline ml-3">
				<div class="input-group input-group-sm">
					<input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
					<div class="input-group-append">
						<button class="btn btn-navbar" type="submit">
							<i class="fas fa-search"></i>
						</button>
					</div>
				</div>
			</form>

			<!-- Right navbar links -->
			<ul class="navbar-nav ml-auto">
				@Html.Partial("_NotificationDropdown")
			</ul>
		</nav>
		<!-- /.navbar -->
		<!-- Main Sidebar Container -->
		<aside class="main-sidebar sidebar-dark-primary elevation-4">
			<!-- Brand Logo -->
			<a href="@Url.Action("Dashboard", "Home")" class="brand-link">
				<i class="fas fa-bug brand-image "></i>
				<span class="brand-text font-weight-light">BugTacker</span>
			</a>

			<!-- Sidebar -->
			<div class="sidebar">
				<!-- Sidebar user panel (optional) -->
				@Html.Partial("_UserPanel")

				<!-- Sidebar Menu -->
				<nav class="mt-2">
					<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
						@Html.Action("_SideNav", "Home")

						@if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
						{
							<li class="nav-item">
								<button type="button" class="btn btn-success btn-wide nav-btn" data-toggle="modal" data-target="#modal-success">
									<i class="fas fa-plus nav-icon"></i>Create Project
								</button>
							</li>
						}
						@if (User.IsInRole("Submitter"))
						{
							<li class="nav-item">
								<button type="button" class="btn btn-success btn-wide nav-btn" data-toggle="modal" data-target="#modal-success">
									<i class="fas fa-plus nav-icon"></i>Create Ticket
								</button>
							</li>
						}
						<li class="nav-item">
							@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
							{
								@Html.AntiForgeryToken()
								<a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-danger btn-wide nav-btn">
									<i class="fas fa-sign-out-alt nav-icon"></i>Log off
								</a>
							}
						</li>


					</ul>
				</nav>
				<!-- /.sidebar-menu -->
			</div>
			<!-- /.sidebar -->
		</aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			@RenderBody()
		</div>
		<!-- /.content-wrapper -->
		<!-- /.control-sidebar -->

		<div class="modal fade" id="modal-success">
			<div class="modal-dialog">
				<div class="modal-content bg-success">
					@if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
					{
						<div class="modal-header">
							<h4 class="modal-title">Create Project</h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>

						<div class="modal-body">
							@{
								RoleHelper roleHelp = new RoleHelper();
								ViewBag.ProjectManagerId = new SelectList(roleHelp.UsersInRole("ProjectManager"), "Id", "Email");
								ViewBag.DeveloperIds = new MultiSelectList(roleHelp.UsersInRole("Developer"), "Id", "Email");
								ViewBag.SubmitterIds = new MultiSelectList(roleHelp.UsersInRole("Submitter"), "Id", "Email");
							}
							@using (Html.BeginForm("ProjectWizard", "Projects"))
							{
								@Html.AntiForgeryToken()
								<div class="form-horizontal">
									<div class="form-group">
										@Html.Label("Name", htmlAttributes: new { @class = "control-label col-md-2" })
										<div class="col-md-10">
											@Html.Editor("Name", new { htmlAttributes = new { @class = "form-control" } })
										</div>
									</div>

									<div class="form-group">
										@Html.Label("Details", htmlAttributes: new { @class = "control-label col-md-2" })
										<div class="col-md-10">
											@Html.Editor("Details", new { htmlAttributes = new { @class = "form-control" } })
										</div>
									</div>

									<div class="form-group">
										@Html.Label("ProjectManagerId", "Project Manager", htmlAttributes: new { @class = "control-label col-md-2" })
										<div class="col-md-10">
											@Html.DropDownList("ProjectManagerId", null, htmlAttributes: new { @class = "form-control" })
										</div>
									</div>

									<div class="form-group">
										@Html.Label("DeveloperIds", "Developer", htmlAttributes: new { @class = "control-label col-md-2" })
										<div class="col-md-10">
											@Html.ListBox("DeveloperIds", null, htmlAttributes: new { @class = "form-control" })
										</div>
									</div>

									<div class="form-group">
										@Html.Label("SubmitterIds", "Submitter", htmlAttributes: new { @class = "control-label col-md-2" })
										<div class="col-md-10">
											@Html.ListBox("SubmitterIds", null, htmlAttributes: new { @class = "form-control" })
										</div>
									</div>

									<div class="form-group">
										<div class="col-md-offset-2 col-md-10">
											<input type="submit" value="Create" class="btn btn-default" />
										</div>
									</div>
								</div>
							}
						</div>
					}
					@if (User.IsInRole("Submitter"))
					{<div class="modal-header">
							<h4 class="modal-title">Create Ticket</h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>

						<div class="modal-body">
							@{
								TicketHelper ticketHelper = new TicketHelper();
								ProjectHelper projectHelper = new ProjectHelper();
								ViewBag.ProjectId = new SelectList(projectHelper.ListUserProjects(User.Identity.GetUserId()), "Id", "Name");
								ViewBag.TicketPriorityId = new SelectList(ticketHelper.GetTicketPriorities(), "Id", "Name");
								ViewBag.TicketTypeId = new SelectList(ticketHelper.GetTicketTypes(), "Id", "Name");
								ViewBag.TicketStatusId = new SelectList(ticketHelper.GetTicketStatuses(), "Id", "Name");
							}
							@using (Html.BeginForm("Create", "Tickets"))
							{
								@Html.AntiForgeryToken()

								<div class="form-horizontal">

									<div class="form-group">
										@Html.Label("ProjectId", "Project", htmlAttributes: new { @class = "control-label col-md-2" })
										<div class="col-md-10">
											@Html.DropDownList("ProjectId", null, htmlAttributes: new { @class = "form-control" })
										</div>
									</div>

									<div class="form-group">
										@Html.Label("TicketPriorityId", "Ticket Priority", htmlAttributes: new { @class = "control-label col-md-2" })
										<div class="col-md-10">
											@Html.DropDownList("TicketPriorityId", null, htmlAttributes: new { @class = "form-control" })
										</div>
									</div>

									<div class="form-group">
										@Html.Label("TicketTypeId", "Ticket Type", htmlAttributes: new { @class = "control-label col-md-2" })
										<div class="col-md-10">
											@Html.DropDownList("TicketTypeId", null, htmlAttributes: new { @class = "form-control" })
										</div>
									</div>

									<div class="form-group">
										@Html.Label("Issue", "Title", htmlAttributes: new { @class = "control-label col-md-2" })
										<div class="col-md-10">
											@Html.Editor("Issue", new { htmlAttributes = new { @class = "form-control" } })
										</div>
									</div>

									<div class="form-group">
										@Html.Label("IssueDescription", "Description", htmlAttributes: new { @class = "control-label col-md-2" })
										<div class="col-md-10">
											@Html.TextArea("IssueDescription", htmlAttributes: new { @class = "form-control"} )
										</div>
									</div>

									<div class="form-group">
										<div class="col-md-offset-2 col-md-10">
											<input type="submit" value="Create" class="btn btn-default" />
										</div>
									</div>
								</div>
							}

						</div>
					}
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
		</div>


		<!-- /.modal -->
		<!-- Main Footer -->
		<footer class="main-footer">
			<!-- To the right -->
			<div class="float-right d-none d-sm-inline">
				Modified by Wade Cranford
			</div>
			<!-- Default to the left -->
			<strong>Copyright &copy; 2014-2020 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
		</footer>
	</div>
	<!-- ./wrapper -->
	<!-- REQUIRED SCRIPTS -->
	<!-- jQuery -->
	<script src="~/Scripts/jquery.min.js"></script>
	<!-- Bootstrap 4 -->
	<script src="~/Scripts/bootstrap.bundle.min.js"></script>
	<!-- AdminLTE App -->
	<script src="~/Scripts/adminlte.min.js"></script>
	<!-- ChartJS -->
	<script src="~/Scripts/Chart.min.js"></script>

	<script src="//cdn.jsdelivr.net/npm/sweetalert2@9"></script>

	<script type="text/javascript" src="//cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.js"></script>
	<script>

		if ('@projectErrorMessage' != "" ) {
			var message = '@Html.Raw(projectErrorMessage)';
				Swal.fire({
					icon: 'error',
					title: 'Project Not Created',
					html: message
				})
		}
		if ('@projectErrorMessage' == "Success" ) {
			var message = '@Html.Raw(projectErrorMessage)';
				Swal.fire({
					icon: 'success',
					title: 'Project Created',
					html: message
				})
		}

		if ('@ticketErrorMessage' != "" ) {
			var message = '@Html.Raw(ticketErrorMessage)';
				Swal.fire({
					icon: 'error',
					title: 'Ticket Not Created',
					html: message
				})
		}
		if ('@ticketErrorMessage' == "Success" ) {
			var message = '@Html.Raw(ticketErrorMessage)';
				Swal.fire({
					icon: 'success',
					title: 'Ticket Created',
					html: message
				})
		}

	</script>
	<script>$('.table').DataTable();</script>


	@RenderSection("Scripts", false)

</body>
</html>