@using Microsoft.AspNet.Identity
@{
	var notificationHelper = new BugTracker.Utilities.NotificationHelper();
	var notifications = notificationHelper.ListUsersNotifications(User.Identity.GetUserId());
}

<!-- Notifications Dropdown Menu -->
<li class="nav-item dropdown">
	<a class="nav-link" data-toggle="dropdown" href="#">
		<i class="far fa-bell"></i>
		@if (notifications.Where(n => n.IsRead == false).ToList().Count > 0)
		{
		<span class="badge badge-warning navbar-badge">@notifications.Where(n => n.IsRead == false).ToList().Count</span>
		}
	</a>


	<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
		<span class="dropdown-header">@notifications.Where(n => n.IsRead == false).ToList().Count Notifications</span>
		<div class="dropdown-divider"></div>
		@foreach (var note in notifications.Where(n => n.IsRead == false).ToList().Take(5))
		{
			<a href="@Url.Action("Details", "TicketNotifications", new { id = note.Id })" class="dropdown-item">
				<i class="fas fa-exclamation mr-2"></i> @note.Subject
			</a>
			<div class="dropdown-divider"></div>
		}
		<a href="@Url.Action("Index", "TicketNotifications")" class="dropdown-item dropdown-footer">See All Notifications</a>
	</div>
</li>
