@using BugTracker.ViewModels
@using BugTracker.Utilities
@model DashboardVM
@{
	ViewBag.Title = "Dashboard";
	TicketHelper ticketHelper = new TicketHelper();
}

<!-- Content Header (Page header) -->
<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1 class="m-0 text-dark">Home Dashboard</h1>
			</div><!-- /.col -->
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a href="@Url.Action("Dashboard")">Home</a></li>
					<li class="breadcrumb-item active">Dashboard</li>
				</ol>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->

<div class="container-fluid">
	<div class="row">
		<div class="col">
			<a href="@Url.Action("Index", "Projects")" class="custom-card">
				<div class="info-box">

					<span class="info-box-icon bg-info elevation-1"><i class="far fa-clipboard"></i></span>

					<div class="info-box-content">

						<span class="info-box-text">Projects</span>

						<span class="info-box-number">
							@if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
							{
								@Model.Projects.Count
							}
							else
							{
								@Model.UserProjects.Count
							}
						</span>
					</div>
					<!-- /.info-box-content -->

				</div>
			</a>
			<!-- /.info-box -->
		</div>
		<!-- /.col -->
		<div class="col">
			<a href="@Url.Action("Index", "Tickets")" class="custom-card">
				<div class="info-box mb-3">
					<span class="info-box-icon bg-danger elevation-1"><i class="fas fa-ticket-alt"></i></span>

					<div class="info-box-content">

						<span class="info-box-text">Tickets</span>

						<span class="info-box-number">
							@if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
							{
								@Model.Tickets.Count
							}
							else
							{
								@Model.UserTickets.Count
							}
						</span>
					</div>
					<!-- /.info-box-content -->

				</div>
			</a>
			<!-- /.info-box -->
		</div>
		<!-- /.col -->
		<!-- fix for small devices only -->
		<div class="clearfix hidden-md-up"></div>
		@if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
		{
			<div class="col">
				<div class="info-box mb-3">
					<span class="info-box-icon bg-blue elevation-1"><i class="fas fa-user-tie"></i></span>

					<div class="info-box-content">
						<span class="info-box-text">Managers</span>
						<span class="info-box-number">@Model.Managers.Count</span>
					</div>
					<!-- /.info-box-content -->
				</div>
				<!-- /.info-box -->
			</div>
			<!-- /.col -->
			<div class="col">
				<div class="info-box mb-3">
					<span class="info-box-icon bg-success elevation-1"><i class="fas fa-user-cog"></i></span>

					<div class="info-box-content">
						<span class="info-box-text">Developers</span>
						<span class="info-box-number">@Model.Developers.Count</span>
					</div>
					<!-- /.info-box-content -->
				</div>
				<!-- /.info-box -->
			</div>
			<!-- /.col -->
			<div class="col">
				<div class="info-box mb-3">
					<span class="info-box-icon bg-warning elevation-1"><i class="fas fa-user-check"></i></span>

					<div class="info-box-content">
						<span class="info-box-text">Submitters</span>
						<span class="info-box-number">@Model.Submitters.Count</span>
					</div>
					<!-- /.info-box-content -->
				</div>
				<!-- /.info-box -->
			</div>
			<!-- /.col -->
		}
	</div>
	<!-- /.row -->
	
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<h5 class="card-title">My Projects</h5>

					<div class="card-tools">
						<button type="button" class="btn btn-tool" data-card-widget="collapse">
							<i class="fas fa-minus"></i>
						</button>
					</div>
				</div>
				<!-- /.card-header -->
				<div class="card-body">
					@if (Model.UserProjects.Count < 1)
					{
						<p class="text-center">You are not assigned to any Projects.</p>
					}
					else
					{
						<table class="table">
							<thead>
								<tr>
									<th>
										Name
									</th>
									<th>
										Details
									</th>
									<th>
										Created
									</th>
									<th>
										Archived?
									</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model.UserProjects)
								{
									<tr>
										<td>
											@Html.DisplayFor(modelItem => item.Name)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.Details)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.Created)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.IsArchived)
										</td>
										<td>
											@if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
											{
												@Html.ActionLink("Edit", "Edit", "Projects", new { id = item.Id }, null)<span> |</span>
											}
											@Html.ActionLink("Details", "Dashboard", "Projects", new { id = item.Id }, null)
										</td>
									</tr>
								}
							</tbody>
						</table>
					}
					<!-- /.row -->
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<h5 class="card-title">My Tickets</h5>

					<div class="card-tools">
						<button type="button" class="btn btn-tool" data-card-widget="collapse">
							<i class="fas fa-minus"></i>
						</button>
					</div>
				</div>
				<!-- /.card-header -->
				<div class="card-body">
					@if (Model.UserTickets.Count < 1)
					{
						<p class="text-center">You are not assigned to any Tickets</p>
					}
					else
					{
						<table class="table">
							<thead>
								<tr>
									<th>
										Project
									</th>
									<th>
										Priority
									</th>
									<th>
										Status
									</th>
									<th>
										Type
									</th>
									<th>
										Submitter
									</th>
									<th>
										Developer
									</th>
									<th>
										Issue
									</th>
									<th>
										Created
									</th>
									<th>
										Updated
									</th>
									<th>
										Resolved?
									</th>
									<th>
										Archived?
									</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model.UserTickets)
								{
									<tr>
										<td>
											@Html.DisplayFor(modelItem => item.Project.Name)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.TicketPriority.Name)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.TicketStatus.Name)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.TicketType.Name)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.Submitter.FullName)
										</td>
										<td>
											@if (item.DeveloperId != null)
											{
												@Html.DisplayFor(modelItem => item.Developer.FullName)
											}
											else
											{
												<span>No Developer Assigned</span>
											}
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.Issue)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.Created)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.Updated)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.IsResolved)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.IsArchived)
										</td>
										<td>
											@Html.ActionLink("Details", "Dashboard", "Tickets", new { id = item.Id }, null)
										</td>
									</tr>
								}
							</tbody>
						</table>
					}
					<!-- /.row -->
				</div>
			</div>
		</div>
	</div>
</div><!-- /.container-fluid -->
<!-- /.content -->
