
@{
	ViewBag.Title = "DemoLogin";
	Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
	
<h4 class="text-center"> Demo Logins</h4>
		@using (Html.BeginForm("DemoLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
		{
			@Html.AntiForgeryToken()
			@Html.Hidden("emailKey", "demoAdminEmail")
			@Html.Hidden("passwordKey", "demoPassword")

			<!-- /.col -->
			
				<button type="submit" class="btn btn-primary btn-block mb-2">Demo Admin Login</button>
			
			<!-- /.col -->

		}
	


		@using (Html.BeginForm("DemoLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
		{
			@Html.AntiForgeryToken()
			@Html.Hidden("emailKey", "demoPMEmail")
			@Html.Hidden("passwordKey", "demoPassword")

			<!-- /.col -->
			
				<button type="submit" class="btn btn-primary btn-block mb-2">Demo Manager Login</button>
			
			<!-- /.col -->

		}
	

	
		@using (Html.BeginForm("DemoLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
		{
			@Html.AntiForgeryToken()
			@Html.Hidden("emailKey", "demoDevEmail")
			@Html.Hidden("passwordKey", "demoPassword")

			<!-- /.col -->
			
				<button type="submit" class="btn btn-primary btn-block mb-2">Demo Developer Login</button>
			
			<!-- /.col -->

		}
	

	
		@using (Html.BeginForm("DemoLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
		{
			@Html.AntiForgeryToken()
			@Html.Hidden("emailKey", "demoSubEmail")
			@Html.Hidden("passwordKey", "demoPassword")

			<!-- /.col -->
			
				<button type="submit" class="btn btn-primary btn-block mb-1">Demo Submitter Login</button>
			
			<!-- /.col -->

		}
	