
@model BugTracker.Models.ForgotPasswordViewModel
@{
	ViewBag.Title = "Forgot your password?";
	Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
	@Html.AntiForgeryToken()
	<div class="input-group mb-3">
		@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

		<div class="input-group-append">
			<div class="input-group-text">
				<span class="fas fa-envelope"></span>
			</div>
		</div>
	</div>
	@Html.ValidationSummary("", new { @class = "text-danger" })
	<div class="row">
		<div class="col-12">
			<button type="submit" class="btn btn-primary btn-block">Request new password</button>
		</div>
		<!-- /.col -->
	</div>
}

<p class="mt-3 mb-1">
	@Html.ActionLink("Login", "Login", "Account")
</p>
<p class="mb-0">
	@Html.ActionLink("Register a new membership", "Register", "Account")
</p>
